---
layout: page
# List all subdomains
---

<div id="post-list">
  {% for subdomain in site.data.subdomain %}
  <div class="card post-preview">
    <a href="{{ subdomain.link }}" target="_blank">
      <div class="card-body">
        <h1 class="card-title">
          {% if subdomain.icon %}
          <div class="subdomain-icon">
            <img src="/assets/img/subdomain/{{ subdomain.icon }}" alt="{{ subdomain.icon }}" />
          </div>
          {% endif %}
          <div class="subdomain-title">
            {{ subdomain.title }}
          </div>
        </h1>
        <div class="card-text post-content">
          <p>
            {{ subdomain.description }}
          </p>
        </div>
        <div class="post-meta text-muted subdomain-a">
          ▶ {{ subdomain.link }}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>